:root {
    --list-width: 350px;
    --list-item-width: 300px;
    --list-background-color: #e4e4e4;

    --input-selected-color: #f5f5f5;

    --border-radius: 20px;
    --border-radius-small: 8px;

    --status-not-done: red;
    --status-in-progress: orange;
    --status-done: green;

    --modal-button-width: 120px;
}

input[type="text"]:not(:focus), input[type="text"]:not(:hover) {
    background-color: var(--list-background-color);
}

input[type="text"]:focus, input[type="text"]:hover {
    background-color: var(--input-selected-color);
    outline: none;
}

#create-list {
    display: inline-block;
    width: calc(var(--list-item-width));

    border-radius: var(--border-radius-small);
    border: none;
    
    margin: auto;
    margin-top: 30px;

    background-color: var(--list-background-color);
    color: green;

    text-align: center;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
}

#create-list > p {
    margin-top: var(--border-radius-small);
    margin-bottom: var(--border-radius-small);
    color: green;
    
    top: 0px;

    text-align: center;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
}

#create-list:hover {
    cursor: pointer;
}

.list {
    display: inline-table;

    width: var(--list-width);
    border-radius: var(--border-radius);

    margin-right: 20px;
    margin-bottom: 40px;
    padding: 4px;

    background-color: var(--list-background-color);

    text-align: center;
}

.list-title {
    width: var(--list-item-width);
    height: calc(var(--list-item-width) / 10);

    border-radius: var(--border-radius-small);

    margin-top: 8px;
    margin-bottom: 32px;
    text-align: center;
    
    color: #333333;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    border: none;
}

.list-item {
    width: var(--list-item-width);
    border-radius: var(--border-radius-small);
    border-top: 3px solid;

    margin: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;

    background-color: #f8f8f8;

    font-family: "Baloo 2", sans-serif;
}

.list-item:hover {
    cursor: pointer;
}

.item-text {
    pointer-events: none;
}

.item-status {
    width: var(--list-item-width);
    height: 3px;
    border-radius: var(--border-radius);

    margin-bottom: 10px;

    background-color: var(--status-not-done);
    
    pointer-events: none;
}

.add-list-item, .delete-list {
    width: calc(var(--list-item-width));

    border-radius: var(--border-radius-small);
    border: none;
    
    margin: auto;
    margin-top: 30px;

    background-color: var(--input-selected-color);
    color: green;

    text-align: center;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
}

.add-list-item:hover {
    cursor: pointer;
}

.delete-list {
    margin-top: 16px;
    margin-bottom: 10px;

    color: red;
}

.delete-list:hover {
    cursor: pointer;
}

#item-modal {
    position: fixed; 
    display: none;

    width: 500px; 
    height: 500px; 

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: var(--border-radius);

    margin: auto;

    background-color: var(--list-background-color);
    z-index: 2;
}

#close-item-modal-wrapper {
    text-align: right;
    margin: 8px;
}

#close-item-modal {
    border-radius: 100px;
    border: none;

    width: 30px;
    height: 30px;

    font-size: 18px;
    font-family: "Comic Neue", sans-serif;

    background-color: var(--input-selected-color);
}

#close-item-modal:hover {
    cursor: pointer;
}

#close-item-modal:focus {
    outline: none;
}

#item-modal-text {
    border-radius: 10px;
    border: none;

    width: 450px;

    margin: 20px;
    padding: 6px;

    font-family: "Baloo 2", sans-serif;
    font-size: 16px;
    text-align: center;
}

#item-modal-status-buttons {
    text-align: center;
}

#item-modal-status-buttons > button, #item-modal-delete {
    border-radius: var(--border-radius-small);
    border: none;

    width: 120px;
    height: 40px;

    font-family: "Baloo 2", sans-serif;
    font-size: 16px;
    color: white;

    box-shadow: 2px 4px rgba(0.5, 0.5, 0.5, 0.2);
}

#item-modal-status-buttons > button:hover, #item-modal-delete:hover {
    cursor: pointer;
}

#item-modal-status-buttons > button:focus, #item-modal-delete:focus {
    outline: none;
}

#item-modal-status-not-done {
    background-color: var(--status-not-done);
}

#item-modal-status-in-progress {
    background-color: var(--status-in-progress);
}

#item-modal-status-done {
    background-color: var(--status-done);
}

#item-modal-delete {
    position: absolute;

    left: calc(50% - var(--modal-button-width) / 2);
    bottom: 16px;

    font-weight: bold;
    color: red !important;
    background-color: var(--input-selected-color);
}